.env
pgdata

user/node_modules
product/node_modules
basket/node_modules
order/node_modules

user/.env
product/.env
basket/.env
order/.env

user/build
product/build
basket/build
order/build

user/pgdata
product/pgdata
basket/pgdata
order/pgdata

